@import './sass/setup';
@import './sass/variables';
@import './sass/header';
@import './sass/main';
@import './sass/contact';
@import './sass/footer';

body, html {
    margin: 0;
    height: 100%;
}

img {
    display: block;
    width: 100%;
}

h1{
    font: normal 85px georgia,palatino,'book antiqua','palatino linotype',serif;
}
p {
    font: lighter 18px futura-lt-w01-light,sans-serif;
    letter-spacing: 1.2px;
}