#contact .contact-section,
#contact .contact-section ul {
  margin: 0;
}

#contact .contact-section .contact-form .content-title {
  margin-bottom: 22px;
}

#contact .contact-section .contact-form .form-group {
  margin-bottom: 25px;
  .form-control {
    background-color: $mainBlack;
    border: none;
    border-bottom: 1px solid $borderBottom;
    border-radius: 0;
    font-size: 15px;
    height: 44px;
    padding: 9px 14px;
  }
}

#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill,
#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill:hover,
#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill:focus,
#contact .contact-section .contact-form .form-group .form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px $mainBlack inset;
  -webkit-text-fill-color: #777 !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

#contact .contact-section .contact-form .form-group.form-message #contact-message {
  height: auto;
}

#contact .contact-section .contact-form .form-submit #contact-submit {
  padding: 10px 26px;
}

#contact .contact-section .contact-form .form-submit #contact-submit.wait {
  background-color: $grey !important;
  border-color:$grey !important;
}

#contact .contact-section .contact-form .form-submit #contact-submit.success {
  background-color: $sucessColor !important;
  border-color: $sucessColor !important;
}

#contact .contact-section .contact-form .form-submit #contact-submit.error {
  background-color: $errorColor !important;
  border-color:$errorColor !important;
}

#contact .contact-section .contact-form .form-submit .contact-feedback {
  display: none;
  margin: 0;
  margin-top: 8px;
}

#contact .contact-section .contact-form .form-submit .contact-feedback.success {
  color: $sucessColor;
}

#contact .contact-section .contact-form .form-submit .contact-feedback.error {
  color: $errorColor;
}

#contact .contact-section .contact-info {
  padding-left: 15px;
}

#contact .contact-section .contact-info .info-description {
  font-size: 15px;
  margin-bottom: 28px;
}

#contact .contact-section .contact-info .list-info>li:first-child .info-icon {
  margin-bottom: 13px;
}

#contact .contact-section .contact-info .list-info>li:first-child .info-details {
  padding-top: 0;
}

#contact .contact-section .contact-info .list-info>li:last-child .info-icon {
  margin-top: 13px;
}

#contact .contact-section .contact-info .list-info>li:last-child .info-details {
  padding-bottom: 0;
}

#contact .contact-section .contact-info .list-info .info-icon {
  font-size: 36px;
  margin-right: 50px;
  position: relative;
  i {
    color: $mainColor;
    -webkit-transform: translate(0, -50%);
    left: 0;
    line-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

#contact .contact-section .contact-info .list-info .info-details {
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  padding: 12px 0 12px 22px;
}

#contact .contact-section .contact-info .list-info .info-details .info-type {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
}

#contact .contact-section .contact-info .list-info .info-details .info-value a {
  color: $grey !important;
}

#contact .contact-section .contact-info .list-info .info-details .info-value a:hover,
#contact .contact-section .contact-info .list-info .info-details .info-value a:focus {
  color: $grey !important;
}

@media (max-width: 1199.98px) {
  #contact .contact-section .contact-form .form-group {
    margin-bottom: 35px;
  }
}

@media (max-width: 991.98px) {
  #contact .contact-section .contact-form {
    margin-bottom: 45px;
  }

  #contact .contact-section .contact-info {
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  #contact .contact-section .contact-info .info-description {
    font-size: 14px;
  }
}