.home-area .fixed-wrapper {
  margin: 0 50px;
  position: relative;
  .fixed-block {
    top: 400px;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
  
.home-area .fixed-wrapper .social-icons {
  margin-bottom: 0;
}
  
.home-area .fixed-wrapper .social-icons>li {
  line-height: 100%;
  margin-top: 14px;
  text-align: center;
  a i {
    color: black;
    font-size: 20px;
    transition: transform .2s
  }
  a i:hover {
    transform: scale(1.5);
    color: $mainColor;
  }
}
  
@media (max-width: 767.98px) {
  .home-area .fixed-wrapper {
    display: none;
  }
}
  
@media (max-width: 575.98px) {
  .home-area {
    background-position: 62% center;
  }
}