// color scheme
$mainColor: #05668D;
$mainGreen: #40916C;
$mainBlack: #161616;
$grey: #777;
$sucessColor: #28a745;
$errorColor: #dc3545;

// border color
$borderColor: rgba(0, 0, 0, 0.18);
$borderBottom: rgba(255, 255, 255, 0.08);