label {
    display: block;
}
.wrap-contact {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 150px 25px 150px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    margin: 25px auto;
}

.contact-form {
    width: 100%;
}

.contact-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 34px;
}

.validate-input {
    position: relative;
}
.wrap-input {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    .input {
        width: 100%;
        padding: 18px 15px;
        border: 1px solid black;
    }
}

.contact-btn {
    background-color: rgba(0, 0, 0, 1);    cursor: pointer !important;
    color: #fff;
    padding: 13px 22px;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    &:hover {
        background-color: $footerColor;
    }
}