.logo {
    background-color: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    span {
        font-size: 2.8rem;
        padding: 0 10px;
    }
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    a {
        text-decoration: overline;
        color: #fff;
        font-size: 4rem;
        padding: 20px 40px;
        &:hover,
        &:focus {
            color: $firstColor;
        }
    }
}

header p {
    text-align: center;
    color: #fff;
    font-size: 2.3rem;
    padding-top: 100px;
}

#scroll {
    text-align: center;
    display: block;
    i {
        font-size: 1.7rem;
    }
}