.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .project-image {
        width: 400px;
        height: 250px;
        margin: 20px 40px;
    }
}
// about section 
.about-section {
    text-align: center;
    padding: 100px;
}

// parallax wave image scroll 

.parallax-wave {
    background-image: url(./../assets/waveform-M7KN2TV.jpg);
    min-height: 70vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//parallax image scroll
.parallax {
    background-image: url(./../assets/online-music-listening-PTSTYD2.jpg);
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }